@font-face {
    font-family: 'TTLakes';
    src: url(./fonts/AnyConv.com__TTLakes-Bold.woff2),
    url(./fonts/TTLakes-Bold.woff);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'TTLakes';
    src: url(./fonts/AnyConv.com__TTLakes-Regular.woff2),
    url(./fonts/TTLakes-Regular.woff);
    font-weight: bold;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*, *:after, *:before {
    border-style: inherit;
}

ul, li, h1, h2, a, p {
    margin: 0;
}

body {
    margin: 0; 
    
}

.container {
    max-width: 320px;
    margin: 0 auto;
}

.header {
    height: 88px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.header_burger {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
}

.header_item {
    display: flex;
    align-items:center;
    justify-content: center;
}

.header_divider {
    width: 2px;
    height: 32px;
    color: #EAEAEA;
}

.header_call {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79; 
}

.header_chat {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79; 
}

.header_profile {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79; 
}



.header_repair {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
}

.repair_text {
    display: none;
    width: 130px;
    height: 24px;

    font-family: 'TTLakes';
    font-size: 16px;
    line-height: 24px;
}

.checkstatus_text {
    display: none;   
    width: 130px;
    height: 24px;

    font-family: 'TTLakes';
    font-size: 16px;
    line-height: 24px;
}

.header_checkstatus {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
}

/* main */

.main {
    height: 509px;
    background-color: #F8F8F8;
}

.title {
    display: flex;
    padding-top: 24px;

}

.title_text {
    padding-left: 16px;
    font-family: 'TTLakes';
    font-size: 28px;
    line-height: 40px;
    color: #1B1C21;
}
.slide_link {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-left: 16px;
}

.slide_text {
    font-family: 'TTLakesCompressed-Regular';
    font-size: 16px;
    line-height: 24px;
    flex: 0 0 auto;
    width: 246px;
    height: 40px;
    overflow: hidden;

    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    overflow: hidden;
    border: #B8FFEC;
    border-radius: 6px;
}

.slide_link::-webkit-scrollbar {
    width: 0;
}

.slide_text:hover {  
    border-radius: 6px;
    border: 2px solid #B8FFEC;
}

.text_iner {
    display: flex;
    align-items:center;
    justify-content: center;  
}

.main_info {

    margin: 24px 16px 0 16px;
    font-family: 'TTLakes';
    font-size: 14px;
    line-height: 18px;  
}
.info_iner {
    height: 90px;
	overflow: hidden;
}


.main_expansion {
    display: flex;
    padding-top: 16px;
}

.arrow {
    width: 7.5px;
    height: 10px;
    margin-left: 16px;
}

.expansion {
    width: 120px;
    height: 24px;
    margin-left: 16px;

    font-family: 'TTLakes';
    font-size: 16px;
    line-height: 24px;
}

.main_photo {
margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
        
    }

    .header_logo {
        margin-right: auto;
        margin-left: 42px;
    }
    .header_iner {
        width: 155px;
        height: 40px;
        display: flex;
        justify-content: space-around;
        margin-right: 24px;
    }
    
    .header_divider {
        margin-right: 24px;
    }

    .header_repair {
        margin-right: 24px;
    }

    .header_checkstatus {
        margin-right: 24px;
    }

    .header {
        display: flex;
        justify-content:space-around;
    }
    .main_content {
        display: flex;
        width: 768px;
        height: 260px;
    }

    .main_photo {
        margin-bottom: 14px;
        margin-right: 25px;
        }

    .photo {
        width: 360px;
        height: 259px;
    }

    .main_info {
        /* overflow: hidden; */
        position: relative;
        max-height: max-content;
        width: 312px;
        height: 160px;
    }

    .info_iner {
        height: 160px;
        overflow: hidden;
    }

    .header_call {
        display: flex;
        text-align: center;
    }
    .header_chat {
        display: flex;
        text-align: center;
    }
    .header_profile {
        display: flex;
        text-align: center;
    }
}

@media screen and (min-width: 1120px) {

    .container {
        max-width: 1120px;
        margin: 0 auto;
    }
    .main_content {
        width: 1120px;
        height: 383px;
    }

    .main_info {
        width: 490px;
        height: 150px;
    }
    
    .header_call {
        display: none;
    }
    .header_chat {
        display: none;
    }
    .header_profile {
        display: none;
    }

    .repair_text {
        display: block;
    }
    
    .checkstatus_text {
        display: block;   
    }

    .slide_link {
        display: flex;
        justify-content: space-between;

        margin: 0;
        margin-top: 10px;
        flex-wrap:nowrap;
        overflow-x:auto;
    }
    .slide_text {
        width: 220px;
        height: 40px;
    }

    .photo {
        width: 531px;
        height: 383px;
    }

    .header {
        display: none;
    }

    .title {
        width: 1120px;
        height: 40px;
    }

    .tiile_item {
        display: flex;
        margin-left: auto;
        /* margin-right: 32px; */
    }

    .title_iner {
        display: flex;
        width: 168px;
        height: 40px;
        align-items: center;
        margin-right: 32px;
    }

    .repair_text {
        font-family: 'TTLakes';
        font-size: 16px;
        line-height: 24px;
    }

    .checkstatus_text {
        font-family: 'TTLakes';
        font-size: 16px;
        line-height: 24px;
    }

    .main_repair {
        display: flex;
        align-items:center;
        justify-content: center; 
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #FF3E79;
    }

    .main_checkstatus {
        display: flex;
        align-items:center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #FF3E79;
    }
}