@font-face {
   font-family: 'TTLakes';
   src: url(./assets/fonts/TTLakes-Bold.woff),
   url(./assets/fonts/TTLakes-Bold.woff2);
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: 'TTLakes';
   src: url(./assets/fonts/TTLakes-Regular.woff),
   url(./assets/fonts/TTLakes-Regular.woff2);
   font-weight: bold;
   font-style: normal;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



*, *:after, *:before {
    border-style: inherit;
}

ul, li, h1, h2, a, p, body {
    margin: 0;
    padding: 0;
}

.aside {
   display: flex;
   flex-direction: column;
   width: 320px;
   min-height: 1024px;
   box-shadow: 16px 0px 52px rgb(14 24 80 / 20%);
}

.container {
   width: 90%;
   margin: 18px auto 0 auto;
}

.header {
   display: flex;
   align-items:center;
   justify-content: space-between;
}

.header__item {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: #FF3E79;
   display: flex;
   align-items:center;
   justify-content: center;
}

.header__item:hover {
   cursor: pointer;
}

.header__logo {
   margin-right: 70px;
   background-color: #fff;
}

.nav {
   padding-top: 40px;
}

.nav__wrapper {
   list-style-type: none;
   display: grid;
   flex-wrap: wrap;
   gap: 32px 0px;
}



.nav__item {
   font-family: 'TTLakes';
   font-size: 16px;
   line-height: 24px;
   color: #1B1C21;
   list-style-type: none;
   text-decoration: none;
   width: 100%;
   display: flex;
   align-items: center;
}

.active:before {
   content: "";
   display: flex;
   width: 3px;
   height: 40px;
   border-bottom-left-radius: 2px;
   border-top-left-radius: 2px;
   background-color: #41F6D7;
   transform: matrix(-1, 0, 0, 1, 0, 0);
   position: relative;
    left: -15px;

}

.aside__nav-link:hover {
   color: #7E7E82;
}

.footer {
   position: fixed;
   bottom: 32px;
}

.footer__wrapper {
   display: flex;
}

.footer__button {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: #FF3E79;
   display: flex;
   align-items:center;
   justify-content: center;
   margin-right: 16px;
}

.footer__button:hover {
   cursor: pointer;
}

.footer__mail {
   display: block;
   font-family: 'TT Lakes';
   font-size: 16px;
   line-height: 24px;
   letter-spacing: -0.2px;
   color: #1B1C21;
   text-decoration: none;
   margin-top: 16px;
}

.footer__phone {
   display: block;
   font-family: 'TT Lakes';
   font-size: 24px;
   line-height: 32px;
   letter-spacing: -0.6px;
   color: #1B1C21;
   text-decoration: none;
   margin-top: 12px;
}

.foter__lang {
   display: flex;
   list-style-type: none;
   background-color: #fff;
   margin-top: 30px;
}

.lang__item {
   background-color: #fff;
}

.lang__item:hover {
   color: #7E7E82;
   cursor: pointer;
}