@font-face {
    font-family: 'TTLakes';
    src: url(./assets/fonts/TTLakes-Bold.woff),
    url(./assets/fonts/TTLakes-Bold.woff2);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'TTLakes';
    src: url(./assets/fonts/TTLakes-Regular.woff),
    url(./assets/fonts/TTLakes-Regular.woff2);
    font-weight: bold;
    font-style: normal;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *:after, *:before {
    border-style: inherit;
}

ul, li, h1, h2, a, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #7e7e82;
}

body {
    margin: 0;
    padding: 0;
    /* display: flex; */
    background: #F8F8F8;
    /* overflow: hidden; */
}

.container {
    font-family: "TTLakes-Regular", sans-serif;
    max-width: 320px;
    margin: 0 auto;
    background: #F8F8F8;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 88px;
    width: 100%;
    background-color: #FFFFFF;
}

.header__wrapper-logo {
    display: flex;
    align-items: center;
    margin-left: 16px;
    
}

.header__action {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 16px;
}

.header-action__button {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
}

.main {
    position: relative;
}


.header__burger-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    
}

.header__logo-link {
    background-color: #fff;
}

.header__divider {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    margin-right: 20px;
}

.header__repair-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
}

.header__checkstatus-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
}


.header__call-button {
    display: none;
}

.header__chat-button {
    display: none;
}

.header__profile-button {
    display: none;
}


             /* main */



.main-header__button-text {
    display: none;

}

.main-header__title {
    
    display: flex;
    font-family: 'TTLakes';
    font-size: 28px;
    line-height: 40px;
    color: #1B1C21;
}

.main-header__title:before {
    content: "";
    display: block;
    width: 3px;
    height: 40px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background-color: #41F6D7;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-right: 12px;
}

.main__nav-links {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-left: 16px;
    list-style-type: none;
}
.main__nav-links::-webkit-scrollbar {
    width: 0;
}

.main-header__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'TTLakes';
    font-size: 16px;
    line-height: 24px;
    flex: 0 0 auto;
    width: 214px;
    height: 40px;
    color: #1B1C21;
    overflow: hidden;
    border: #B8FFEC;
    border-radius: 6px;
    border: 2px solid #F8F8F8;
}

.main-header__link:hover {  
    border-radius: 6px;
    border: 2px solid #B8FFEC;
    background-color: #FFFFFF;
}


.main_logo {
    width: 100%;
}

.article__text {
	overflow: hidden;
    margin: auto;
    width: 100%;
    font-family: 'TTLakes';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

.article__text-main {
    overflow: hidden;
    max-height: 90px;
}

.article-expand {
    margin-right: 16px;
}

.article__show-more {
    padding: 16px 0 16px 24px;
    font-family: 'TTLakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    background-color: #f8f8f8;
}

.brand-swiper__title {
    display: flex;
    align-items: center;
    height: 80px;
    font-family: 'TTLakes';
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #7E7E82;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.swiper {
    width: 100%;
    min-height: 154px;
}
.swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    list-style-type: none;
}

.brand-swiper__item {
    position: relative;
    display: block;
    width: 240px;
    height: 72px;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    margin: 16px 0 16px 16px;
}
.brand-swiper__item::after {
    content: "";
    position: absolute;
    top: 16px;
    right: 16px;
    background: url("./assets/images/dropdown-ping.svg") no-repeat 50% 50%;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #FF3E79;
}



.brand-swiper__item-lenovo {
    background: url('./assets/images/lenovo.svg') no-repeat 16px 50%;
    background-color: #FFFFFF;
}
.brand-swiper__item-samsung {
    background: url('./assets/images/samsung.svg') no-repeat 16px 50%;
    background-color: #FFFFFF;
}
.brand-swiper__item-apple {
    background: url('./assets/images/apple.svg') no-repeat 16px 50%;
    background-color: #FFFFFF;
}
.brand-swiper__item-viewsonic {
    background: url('./assets/images/viewsonic.svg') no-repeat 16px 50%;
    background-color: #FFFFFF;
}
.brand-swiper__item-bosch {
    background: url('./assets/images/bosch.svg') no-repeat 16px 50%;
    background-color: #FFFFFF;
}
.brand-swiper__item-hp {
    background: url('./assets/images/hp.svg') no-repeat 16px 50%;
    background-color: #FFFFFF;
}
.brand-swiper__item-acer {
    background: url('./assets/images/acer.svg') no-repeat 16px 50%;
    background-color: #FFFFFF;
}
.brand-swiper__item-sony {
    background: url('./assets/images/sony.svg') no-repeat 16px 50%;
    background-color: #FFFFFF;
}
.brand-swiper__button {
    display: none;
}
.article-squeeze {
    display: none;
}

.service-praice__container {
    background: #F8F8F8;
}
.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper__wrapper {
    display: flex;
    margin: 16px 0;
    overflow-x: auto;
    /* overflow: auto; */
}
.swiper__slide {
    display: block;
    width: 240px;
}

.praice-list__table-header {
    display: none;
}
.service-praice__text {
    margin-left: 20px;
}
.service-praice__link {
    margin-left: 20px;
}

.page-footer__text--skript {
    margin-left: 25px;
}

.page-footer__text--info {
    margin-right: 25px;
}

.secondary-text {
    border-top: 1px solid #d9fff5;
    padding: 16px 16px;
    font-size: 16px;
    line-height: 24px;
    color: #7e7e82;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #f8f8f8 0%, #ffffff);
}

.praice-list__item {
    width: 260px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1b1c21;
    background-color: #ffffff;
    border-radius: 6px;
    margin-right: 16px;
    margin-left: 8px;
}
.praice-list__mobile-text {
    font-family: 'TTLakes';
    font-size: 14px;
    line-height: 16px; 
    color: #7E7E82;
    mix-blend-mode: normal;
    opacity: 0.72;
}

.praice-list__service-text {
    font-family: 'TTLakes';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

.praice-list__item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    vertical-align: top;
    width: 260px;
    height: 200px;
    padding: 16px;
    border-radius: 6px;
    position: relative;
}
.praice-list__order {
    display: flex;
    justify-content: space-between;
}

.btn {
    height: 32px;
    color: #ffffff;
    padding: 4px 40px 4px 12px;
    background-color: #ff3e79;
    border-radius: 16px;
    background-image: url(./assets/images/dropdown.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "TTLakes-Bold",sans-serif;
}

.praice-list__button {
    position: relative;
    width: 120px;
    top: -10px;
    right: 30px;
}

.service-praice__text {
    max-width: 420px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    font-family: 'TTLakes';
    color: #1B1C21;
    margin-left: 20px;
}

.service-praice__link {
    display: inline-block;
    color: #1b1c21;
    margin-top: 16px;
    margin-bottom: 40px;
    width: 200px;
    font-family: 'TTLakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    text-decoration: none;
    margin-left: 20px;
}

.service-praice__link-arr {
    display: inline-block;
    background-image: url("./assets/images/dropdown-ping.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 10px;
}

.page-footer__text {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #7e7e82;
    opacity: 0.72;   
    font-family: 'TTLakes';
    mix-blend-mode: normal;
    text-decoration: none;
}

.modal_wrapper {
    display: none;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 10;
    position: absolute;
    width: 100%;
    background-color: #fff;
    opacity: 0.5;
}

.modal_wrapper-active {
    display: block;
}



@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        margin: 0 auto;   
    }

    .header__call-button {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #FF3E79;
        cursor: pointer;
    }
    
    .header__chat-button {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #FF3E79;
        cursor: pointer;
    }
    
    .header__profile-button {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #FF3E79;
        cursor: pointer;
    }
    
    .header-action__button {
        margin-left: auto;
        display: flex;
        width: 50%;
        justify-content:space-between;
        
    }

    .article {
        display: flex;
        margin-left: 16px;
    }

    .article__text {
        width: 50%;
        height: 160px;
    }
    .article__main-logo {
        width: 50%;
    }

    .main-header__title:before {
        content: "";
        display: block;
        margin-right: 20px;
    }
    .brand-swiper__title {
        padding: 16px 24px;
    }

    .swiper-wrapper {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-left: 24px;
        margin-top: 10px;
        width: 100%;
        height: 180px;
    }
    .swiper-wrapper::-webkit-scrollbar {
        width: 0;
    }
    .swiper-slide {
        width: 33%;
        height: 90px;
    }
    .brand-swiper__item {
        width: 224px;
        margin: 16px 0 0px 0;
    }
    .brand-swiper__button {
        position: relative;
        display: block;
        align-self: flex-start;
        padding: 0 35px;
        margin: 24px 14px;
        border: none;
        font-size: 16px;
        font-family: 'TTLakes';
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        color: #1B1C21;
        background-color: #fff;
    }  
    .brand-swiper__button::before {
        position: absolute;
        content: url('./assets/images/expand.svg');
        margin-left: -18px;
    }
    .swiper-wrapper::-webkit-scrollbar {
        width: 0;
    }
    .swiper-slide {
        width: 33%;
    }
    .brand-swiper__item {
        display: block;
        width: 240px;
        cursor: pointer;
    }
    .brand-swiper__button {
        margin-left: 18px;
        cursor: pointer;
        background-color: #F8F8F8;
    }
    
    .show {
        height: auto !important;
    }

    .button-clicked::before {
        transform: rotate(180deg);
    }

    .praice-list__table-header {
        height: 65px;
        display: block;
        width: 100%;
    }
    .praice-list {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .praice-list__item-wrapper {
        display: grid;
        grid-template-columns: 53% 15% 32%;
        width: 100%;
    }
    .praice-list__item--border-top {
        border-radius: 6px 6px 0 0;
    }
    .praice-list__item {
        position: relative;
        width: 100%;
        height: 65px;
        border-radius: 0;
    }
    .praice-list__item-wrapper {
        display: grid;
        grid-template-columns: 53% 15% 32%;
        width: 100%;
        border-radius: 6px;
    }
    .praice-list__mobile-text {
        display: none;
    }
    .praice-list__item:before {
        content: "";
        position: absolute;
        top: 60px;
        left: 24px;
        width: 93%;
        border-bottom: 1px solid #eaeaea;
    }
    .page-footer__container {
        padding-top: 32px;
        padding-bottom: 25px;
        display: flex;
        justify-content: space-between;
    }
    .page-footer__text--skript {
        flex-basis: 33%;
        text-align: left;
    }
    .page-footer__text--prav {
        flex-basis: 33%;
    }
    .page-footer__text--info {
        flex-basis: 33%;
        text-align: right;
    }



@media screen and (min-width: 1120px) {

    .container {
        max-width: 1400px;
        margin: 0 auto;
    }

    .header {
        display: none;
    }

    .main__nav-links {
        display: flex;
        flex-wrap: wrap;
        overflow-x: auto;
        margin-left: 16px;
        list-style-type: none;
    }
    .main__nav-links::-webkit-scrollbar {
        width: 0;
    }

    .main-header {
        padding: 24px 0 24px 0;
    }

    .main-header__services {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .main-header__text {
        display: flex;
        align-items: center;
        font-family: 'TTLakes';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }

    .main-header__button-text {
        display: flex;
        margin-left: auto;
        list-style-type: none;
    }

    .main-header__button {
        margin-left: 8px;
        margin-right: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #FF3E79;
        cursor: pointer;
    }

    .article {
        display: flex;
        margin-left: 16px;
    }

    .article__text {
        width: 50%;
    }
    .article__text-main {
        overflow: hidden;
        max-height: 160px;
    }

    .article__text {
        width: 50%;
    }
    .article__main-logo {
        width: 50%;
    }

    .main-header__title:before {
        content: "";
        display: block;
        margin-right: 30px;
    }

    .swiper-wrapper {
        overflow-y: hidden;
    }


    .swiper-wrapper::-webkit-scrollbar {
        width: 0;
    }
    .swiper-slide {
        width: 25%;
    }
    .brand-swiper__item {
        display: block;
        width: 240px;
        cursor: pointer;
    }
    .brand-swiper__button {
        margin-left: 18px;
        cursor: pointer;
    }
    
    .show {
        height: auto !important;
    }

    .button-clicked::before {
        transform: rotate(180deg);
    }
    
    .swiper__wrapper {
        overflow: hidden;
    }
    
    .main {
        position: relative;
    }

    .container {
        margin-left: 320px;
    }
}
}