@font-face {
    font-family: 'TTLakes';
    src: url(./assets/fonts/TTLakes-Bold.woff),
    url(./assets/fonts/TTLakes-Bold.woff2);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'TTLakes';
    src: url(./assets/fonts/TTLakes-Regular.woff),
    url(./assets/fonts/TTLakes-Regular.woff2);
    font-weight: bold;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*, *:after, *:before {
    border-style: inherit;
}

ul, li, h1, h2, a, p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 320px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 88px;
    width: 100%;
}

.header__wrapper-logo {
    display: flex;
    align-items: center;
    margin-left: 16px;
    
}

.header__action {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 16px;
}

.header-action__button {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
}


.header__burger-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    
}

.header__logo-link {
    background-color: #fff;
}

.header__divider {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    margin-right: 20px;
}

.header__repair-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
}

.header__checkstatus-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
}


.header__call-button {
    display: none;
}

.header__chat-button {
    display: none;
}

.header__profile-button {
    display: none;
}


             /* main */



.main-header__button-text {
    display: none;

}

.main-header__title {
    
    display: flex;
    padding-left: 16px;
    font-family: 'TTLakes';
    font-size: 28px;
    line-height: 40px;
    color: #1B1C21;
}

.main-header__title:before:first-child {
    content: "";
    display: block;
    width: 3px;
    height: 40px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background-color: #41F6D7;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-right: 12px;
}

.main__nav-links {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-left: 16px;
    list-style-type: none;
}
.main__nav-links::-webkit-scrollbar {
    width: 0;
}

.main-header__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'TTLakes';
    font-size: 16px;
    line-height: 24px;
    flex: 0 0 auto;
    width: 214px;
    height: 40px;
    
    color: #1B1C21;
    overflow: hidden;
    border: #B8FFEC;
    border-radius: 6px;
    border: 2px solid #fff;
}

.main-header__link:hover {  
    border-radius: 6px;
    border: 2px solid #B8FFEC;
}


.main_logo {
    width: 100%;
}

.article__text {
	overflow: hidden;
    margin: auto;
    width: 100%;
    font-family: 'TTLakes';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

.article__text-main {
    overflow: hidden;
    max-height: 90px;
}

.article-expand {
    margin-right: 16px;
}

.article__show-more {
    padding: 16px 0 16px 24px;
    font-family: 'TTLakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    background-color: #fff;
}

.brand-swiper__title {
    display: flex;
    align-items: center;
    height: 80px;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #7E7E82;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.swiper {
    width: 100%;
    min-height: 154px;
}
.swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    list-style-type: none;
}

.brand-swiper__item {
    position: relative;
    display: block;
    width: 240px;
    height: 72px;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    margin: 16px 0 16px 16px;
}
.brand-swiper__item::after {
    content: "";
    position: absolute;
    top: 16px;
    right: 16px;
    background: url("./assets/images/dropdown.svg") no-repeat 50% 50%;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #FF3E79;
}
.swiper-wrapper::-webkit-scrollbar {
    width: 0;
}


.brand-swiper__item-lenovo {
    background: url('./assets/images/lenovo.svg') no-repeat 16px 50%;
    background-color: #FFFFFF;
}
.brand-swiper__item-samsung {
    background: url('./assets/images/samsung.svg') no-repeat 16px 50%;
    background-color: #FFFFFF;
}
.brand-swiper__item-apple {
    background: url('./assets/images/apple.svg') no-repeat 16px 50%;
    background-color: #FFFFFF;
}
.brand-swiper__item-viewsonic {
    background: url('./assets/images/viewsonic.svg') no-repeat 16px 50%;
    background-color: #FFFFFF;
}
.brand-swiper__item-bosch {
    background: url('./assets/images/bosch.svg') no-repeat 16px 50%;
    background-color: #FFFFFF;
}
.brand-swiper__item-hp {
    background: url('./assets/images/hp.svg') no-repeat 16px 50%;
    background-color: #FFFFFF;
}
.brand-swiper__item-acer {
    background: url('./assets/images/acer.svg') no-repeat 16px 50%;
    background-color: #FFFFFF;
}
.brand-swiper__item-sony {
    background: url('./assets/images/sony.svg') no-repeat 16px 50%;
    background-color: #FFFFFF;
}
.brand-swiper__button {
    display: none;
}
.article-squeeze {
    display: none;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        margin: 0 auto;   
    }

    .header__call-button {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #FF3E79;
        cursor: pointer;
    }
    
    .header__chat-button {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #FF3E79;
        cursor: pointer;
    }
    
    .header__profile-button {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #FF3E79;
        cursor: pointer;
    }
    
    .header-action__button {
        margin-left: auto;
        display: flex;
        width: 50%;
        justify-content:space-between;
        
    }

    .article {
        display: flex;
        margin-left: 16px;
    }

    .article__text {
        width: 50%;
        height: 160px;
    }
    .article__main-logo {
        width: 50%;
    }

    .main-header__title:before {
        content: "";
        display: block;
        margin-right: 20px;
    }
    .brand-swiper__title {
        padding: 16px 24px;
    }

    .swiper-wrapper {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-left: 24px;
        margin-top: 10px;
        width: 100%;
        height: 180px;
    }
    .swiper-slide {
        width: 33%;
        height: 90px;
    }
    .brand-swiper__item {
        width: 224px;
        margin: 16px 0 0px 0;
    }
    .brand-swiper__button {
        position: relative;
        display: block;
        align-self: flex-start;
        padding: 0 35px;
        margin: 24px 14px;
        border: none;
        font-size: 16px;
        font-family: 'TT Lakes';
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        color: #1B1C21;
        background-color: #fff;
    }  
    .swiper-wrapper::-webkit-scrollbar {
        width: 0;
    } 


@media screen and (min-width: 1120px) {

    .container {
        max-width: 1400px;
        margin: 0 auto;
    }

    .header {
        display: none;
    }

    .main__nav-links {
        display: flex;
        flex-wrap: wrap;
        overflow-x: auto;
        margin-left: 16px;
        list-style-type: none;
    }
    .main__nav-links::-webkit-scrollbar {
        width: 0;
    }

    .main-header {
        margin: 42px 0 10px 0;
    }

    .main-header__services {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .main-header__text {
        display: flex;
        align-items: center;
        font-family: 'TTLakes';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }

    .main-header__button-text {
        display: flex;
        margin-left: auto;
        list-style-type: none;
    }

    .main-header__button {
        margin-left: 8px;
        margin-right: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #FF3E79;
        cursor: pointer;
    }

    .article {
        display: flex;
        margin-left: 16px;
    }

    .article__text {
        width: 50%;
    }
    .article__text-main {
        overflow: hidden;
        max-height: 160px;
    }

    .article__text {
        width: 50%;
    }
    .article__main-logo {
        width: 50%;
    }

    .main-header__title:before {
        content: "";
        display: block;
        margin-right: 30px;
    }
    
    .swiper-wrapper::-webkit-scrollbar {
        width: 0;
    }
    
    .swiper-slide {
        width: 25%;
        margin: 0 auto;
        
    }
    .brand-swiper__item {
        cursor: pointer;
    }
    .brand-swiper__button {
        cursor: pointer;
    }
}
}